*.strings diff=localizablestrings
TwoFAS/update.swift filter=git-crypt diff=git-crypt
TwoFAS/Protection/Keys.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database0.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database1.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database2.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database3.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database4.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database5.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database6.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database7.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database8.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/IconDescriptionDatabaseImpl+Database9.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database0.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database1.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database2.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database3.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database4.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database5.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database6.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database7.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database8.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Sources/ServiceDefinitionDatabaseImpl+Database9.swift filter=git-crypt diff=git-crypt
TwoFAS/Content/Assets/Assets.car filter=git-crypt diff=git-crypt
TwoFAS/Content/AssetsWatch/Assets.car filter=git-crypt diff=git-crypt
TwoFAS/TwoFAS/Other/Guides/** filter=git-crypt diff=git-crypt