<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>2FAS Auth</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bak</string>
				<string>2fas</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_64.png</string>
				<string>icon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>2FAS Backup</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.2fas.backup.bak</string>
			</array>
			<key>NSDocumentClass</key>
			<string>App.BakDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_64.png</string>
				<string>icon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSON File</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.3.12</string>
	<key>CFBundleSpokenName</key>
	<string>2 F A S</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon_64</string>
			<key>CFBundleURLName</key>
			<string>2FAS otpauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon_64</string>
			<key>CFBundleURLName</key>
			<string>2FAS internal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twofas</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
	<key>INIntentsRestrictedWhileLocked</key>
	<array>
		<string>SelectServiceIntent</string>
	</array>
	<key>INIntentsRestrictedWhileProtectedDataUnavailable</key>
	<array>
		<string>SelectServiceIntent</string>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>SelectServiceIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSPinnedDomains</key>
		<dict>
			<key>api2.2fas.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>n2w9C3WwaSon887HddnNt5Duchxhs//fJ/1/Lgm2fd0=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used for scanning QR-codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>You can unlock application using Face ID</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SelectServiceIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>2FAS Backup</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>icon_64.png</string>
				<string>icon_320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.2fas.backup.bak</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_320.png</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_64.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bak</string>
					<string>2fas</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/2fas-backup-bak</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>2FAS Backup</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>icon_64.png</string>
				<string>icon_320.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.2fas.backup.bak</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon_320.png</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon_64.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bak</string>
					<string>2fas</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/2fas-backup-bak</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSON file</string>
			<key>UTTypeIconFile</key>
			<string>JSON</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>public.json</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.json.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TXT file</string>
			<key>UTTypeIconFile</key>
			<string>TXT</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>public.plain-text</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/plain</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>firebase_performance_collection_deactivated</key>
	<true/>
</dict>
</plist>
